<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- link css files here -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="https://kit.fontawesome.com/eb3537fe7e.js" crossorigin="anonymous"></script>
</head>
<body>

  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30"
          height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        {{#if isAuthenticated}}{{ user.name }}{{/if}}
        的餐廳清單
      </a>
      {{#if isAuthenticated}}
      <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-warning btn-sm mx-1" href="/restaurants/new" role="button">Add</a>
        <a class="btn btn-warning btn-sm" href="/users/logout" method="POST" ole="button">Logout</a>
      </div>
      {{else}}
      <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-warning btn-sm" href="/users/login" method="get" ole="button">Login</a>
      </div>
      {{/if}}
    </div>
  </nav>
  
  <div class="banner"></div>
  
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <!-- include javascript files here -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>

</html>